
h1{

    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


h3{
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.w3-button{
    border-radius: 30px; 
    overflow: hidden; 
    }

    textarea{
        border-radius: 10px; 
    overflow: hidden;  
    }

.w3-modal-content{
    border-radius: 30px; 
    overflow: hidden; 
}

.w3-card{
    border-radius: 30px; 
    overflow: hidden; 
}


.w3-image {
    border-radius: 10px; 
    overflow: hidden;
    width: 300px;
    height: 200px;
    object-fit: cover; /* Para que la imagen se ajuste al tamaño del contenedor sin deformarse */
  }

body, h2, h4, h5 {font-family: "Raleway", sans-serif}
        .estilos {
        
            color: #333; /* Color de texto */
            font-family: Arial, sans-serif; /* Tipo de fuente */
            font-size: 16px; /* Tamaño de fuente */
            line-height: 1.6; /* Altura de línea */
        }

        /* Estilos para botones */
        .estilos .boton {
            background-color: #dd4b39; /* Color de fondo del botón */
            color: #fff; /* Color de texto del botón */
            border: none; /* Sin borde */
            padding: 10px 20px; /* Espaciado interno */
            cursor: pointer; /* Cambio de cursor al pasar el mouse */
        }

        .estilos .boton:hover {
            background-color: #ff6347; /* Cambio de color al pasar el mouse */
        }