body, h3, h4, h5, h6 {
    font-family: "Karma", sans-serif;
}

.w3-bar-block .w3-bar-item {
    padding: 20px;
}
 
h1 , h2 {
    font-family: "Karma", sans-serif;
    color: #ffffff;
}

.w3-image {
    width: 200px;
    height: 150px;
    object-fit: cover; /* Para que la imagen se ajuste al tamaño del contenedor sin deformarse */
}


#Contenedores{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.w3-card{
    max-width: 450px;
    margin: 10px;
    border-radius: 15px; 
    overflow: hidden; 
    border: 1px solid lightgrey;
}

.w3-button {
    border-radius: 5px; 
    overflow: hidden;
}

.w3-modal-content{
    border-radius: 30px; 
    overflow: hidden; 
}

textarea{
    border-radius: 10px; 
overflow: hidden;  
}

.red-margin-left, .red-margin-right {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #a00000;
    width: 5%;
    z-index: -10;

}
.red-margin-left {
    left: 0; /* Fija el margen izquierdo */
  }
  
  .red-margin-right {
    right: 0; /* Fija el margen derecho */
  }

.w3-bar-item{
    text-align: center;
    padding: 10px;
    width: 40%;
    margin: 20px auto;
    font-size: 25px;
    color: #000;
}

.w3-sidebar{
    position: fixed;
    bottom: 0;
    right: 0;
    display:none;
    width:5px !important;
    height: 85.5%;
}






