<!DOCTYPE html>
<html>
<head>
    <title>SIRU - Reportes de Daños</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" 
    href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css?family=Raleway">
    
    <link rel="stylesheet"
    href="..\static\css\estilosAD.css">

    <script src="../static/js/CrearCodigo.js"> </script>
    <script src="../static/js/CargarRegistros.js"></script>
    <script src="../static/js/ConfiDeRegistros.js"></script>
    <script src="../static/js/ActualizarReporte.js"></script>
    <script src="../static/js/Dropdown.js"></script>
    <script src="../static/js/cerrarsesion.js"></script>
    <script src="../static/js/CargarUsuarios.js"></script>
    <script src="../static/js/ConfirmarEliminacion.js"></script>
    <script src="../static/js/EliminarUsuario.js"></script>
    <script src="../static/js/CancelarYGuardar.js"></script>
    <script src="../static/js/EditarUsuario.js"></script>
    <script src="../static/js/Restablecer.js"></script>
    <script src="../static/js/FiltrarRegistro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<!--Encabezado-->
<body class="w3-light-grey">
    <header class="w3-container w3-center w3-padding-32" 
    style="background-color: #C20E1A;"> 
        <h1><b>SIRU - Reportes de Daños</b></h1>
    </header>

<!-- Elementos de pagina -->
    <div class="w3-row">

        <!--Parte izquierda-->
        <div class="w3-col l8 s12">

            <div class="w3-container"
            id="Muchos">

 </div>
 </div>

        <!-- Zona  derecha -->
        <div class="w3-col l4">
            <div class= "w3-container w3-white w3-card w3-margin-top">
                   <h4><b>Bienvenido -Admin-</b></h4>
                    <p>¿Que opcion quieres hacer?:</p>
                   
                    <button class="w3-button w3-center w3-red w3-hover-grey w3-section w3-block"
                   onclick="Dropdown('opciones')">
                Opciones</button>
                   
                   <div class="w3-container"
                   id="opciones"
                   style="display: none;">

                   <button 
                    onclick="document.getElementById('Crear').style.display='block'"  
                    class="w3-button w3-red w3-hover-grey w3-section w3-block">
                    Crear Usuario</button>

                    <button 
                    onclick="document.getElementById('Filtrar').style.display='block'" 
                    class="w3-button w3-center w3-red w3-hover-grey w3-section w3-block">
                    Filtrar Registro</button>
                    
                    <button 
                    onclick="AbrirModal()"
                    class="w3-button w3-red w3-hover-grey w3-section w3-block">
                    Administrar usuarios</button>

                    <button 
                    onclick="CerrarSesion()" 
                    class="w3-button w3-red w3-hover-pink w3-section w3-block">
                    Cerrar sesion</button>
                </div>
            </div>
            </div>
            <hr>
        </div>

    </div>
    <!-- END Grid -->


    <!-- Pie de pagina -->
    <footer class="w3-container w3-padding-32 w3-margin-top"
     style="background-color: #841F1C;">
        <p><b>Terminaste?</b> 
            <a href=""
             class="estilos" 
             target="_blank"><b>Cerrar sesion</b></a></p></b>
    </footer>

    <!--Crear usuario-->
<div class="w3-container">

<div id="Crear"
class="w3-modal">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width: 600px;">

<div class="w3-center"><br>
<span onclick="document.getElementById('Crear').style.display='none'"
class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Cerrar pestaña">&times;</span>
</div>

<form class="w3-container" 
onsubmit="CrearCodigo(event)"
method="post">

<div class = "w3-section">
<label><b>Codigo</b></label>
<input id="Codigo" 
class = "w3-input w3-border w3-margin-botton"
type="text"
placeholder="Ingresar Codigo"
name="codigo"
required>

<label><b> Tipo de Usuario </b></label>

<select class="w3-select w3-border" 
name="tipo"
required>
<option value="" disabled selected> Seleccionar tipo</option>
<option value="Admin"> Administrador </option>
<option value="Usuario"> Usuario</option>
</select>

<button class="w3-button w3-block w3-red w3-section w3-padding"
type="submit">
 Crear Usuario </button>
</div>
</form>

<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
<button onclick ="document.getElementById('Crear').style.display='none'"
type="button"
class="w3-button w3-red"> 
Cancelar </button>   
</div>
</div>
</div>
</div>

<!--Mostrar modales-->
<div class="w3-modal"
id="Modal"
style="display: none;">

<div class="w3-modal-content w3-animate-zoom w3-card-4">

</div>
</div>

<!--Administracion-->
<div class="w3-modal"
id="administrar">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width:800px;">

<header class="w3-container w3-red">
<span onclick="document.getElementById('administrar').style.display='none'"
class="w3-button w3-display-toprigth">&times;</span>
<h2>Administracion de usuarios</h2>
</header>

<div class="w3-container">
<div class="w3-bar w3-light-grey">

<button class="w3-bar-item w3-button"
onclick="CargarUsuarios('Usuario')">
Usuarios
</button>

<button class="w3-bar-item w3-button"
onclick="CargarUsuarios('Admin')">
Admin
</button>

<button class="w3-bar-item w3-button"
onclick="CargarUsuarios('todos')">
Todos
</button>
</div>

<div id="Tabla"
class="w3-container w3-padding-16">
</div>
</div>

<footer class="w3-container w3-light-grey">
<button class="w3-button w3-red w3-block w3-section"

onclick="guardar()">
Guardar</button>

<button class="w3-block w3-button w3-red"
onclick="cancel()">
Cancelar</button>

</footer>
</div>
</div>

<!--filtro-->
<div class="w3-container  w3-center">

    <div class="w3-modal"
    id="Filtrar">
    
    <div class="w3-modal-content w3-card-4 w3-white">
        
        <header class="w3-container w3-red w3-center">
            <h2 class="w3-black-text">Filtrar reportes en especifico</h2>

            <span 
onclick = "document.getElementById('Filtrar').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </span>

        </header>

        <form class="w3-container w3-padding-16"
        onsubmit="FiltrarRegistro(event)">

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col s12">
                <b>Buscar usuario o por codigo</b>
                <input id="CodigoNombre" 
                class="w3-input w3-border" 
                type="text" 
                placeholder="Codigo o usuario a buscar">
            </div>
            </div>

            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-half">
                    <b>Buscar por zona</b>
                    <input id="buscarLugar" 
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Lugar a buscar">
                </div>

                <div class="w3-half">
                    <b>Buscar por item</b>
                    <input id="buscarItem" 
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Item a buscar">
                </div>
            </div>
    
            <h3 class="w3-center-all w3-black-text">Elementos varios</h3>

                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-third">
                    <b>Nivel de importacion del formulario</b>
                    <select id="Estado" 
                    class="w3-select w3-border">
                        <option value="" selected> --- </option>
                        <option value="baja">Sugerencia</option>
                        <option value="media">Pedido</option>
                        <option value="Alta">Arreglo</option>
                    </select>
                </div>

                <div class="w3-third">
                       <b>Ordenar por antiguo o reciente</b>
                        <select id="ordenarRecienteAntiguo" 
                        class="w3-select w3-border">
                            <option value="" selected> ---  </option>
                            <option value="Antiguo">Más antiguo</option>
                            <option value="Reciente">Mas reciente</option>
                        </select>
                    </div>

                <div class="w3-third">
                    <b>Desarrollo del formulario</b>
                    <select id="Desarrollo" 
                    class="w3-select w3-border">
                        <option value="" selected> --- </option>
                        <option value="No verificado">No verificado</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Terminado">Terminado</option>
                    </select>
                </div>
                </div>

                <h3 class="w3-center-all w3-black-text">Opciones avanzadas</h3>
                
                <div class="w3-section w3-center-all">
                    <div class="w3-container  w3-border w3-margin-bottom w3-padding-small">
                        <div class="w3-row">
                            <div class="w3-col s9">
                        <p>Juntar y responder por títulos iguales</p>
                        </div>
                        
                        <div class="w3-col s3">
                        <label class="w3-right">
                            <input class="w3-radio" 
                            type="radio" 
                            name="titulos"
                            value="desactivado" 
                            checked> Desactivado
                        </label>

                        <label class="w3-right w3-margin-right">
                            <input class="w3-radio"
                             type="radio"
                              name="titulos"
                               value="activado">
                                Activar
                        </label>
                    </div>
                </div>
                </div>

                    <div class="w3-container w3-border w3-margin-bottom w3-padding-small">
                       <div class="w3-row">
                        <div class="w3-col s9">
                        <p>Que no aparezcan los que ya fueron resueltos</p>
                        </div>

                        <div class="w3-col s3">
                        <label class="w3-right">
                            <input class="w3-radio" 
                            type="radio" 
                            name="resueltos" 
                            value="desactivado" 
                            checked> Desactivado
                        </label>
                        <label class="w3-right w3-margin-right">
                            <input class="w3-radio" 
                            type="radio" 
                            name="resueltos" 
                            value="activado"> Activar
                        </label>
                    </div>
                    </div>
                    </div>

                    <div class="w3-container w3-border w3-margin-bottom">
                      <div class="w3-row">
                        <div class="w3-col s9"> 
                        <p>Que no aparezcan los que no tienen imagen</p>
                        </div>

                        <div class="w3-col s3">
                        <label class="w3-right">
                            <input class="w3-radio" 
                            type="radio" 
                            name="sin_imagen" 
                            value="desactivado" checked> Desactivado
                        </label>
                        <label class="w3-right w3-margin-right">
                            <input class="w3-radio" type="radio" name="sin_imagen" value="activado"> Activar
                        </label>
                    </div>
                </div>
                </div>
                </div>

            <button class="w3-button w3-red w3-margin-top w3-block" 
            type="submit">Buscar</button>

            <button class="w3-button w3-gray w3-margin-top w3-small w3-right"
            type="button"
            onclick="RestablecerFiltro()">
            Restablecer</button>
            </div>
        </form>
    </div>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", CargarRegistros); // Cargar registros al cargar la página
</script>


</body>
</html>
