<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Encargado</title>
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" 
  href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet"
  href="../static/css/EstilosEncargado.css">

  <link rel="icon" type="image/x-icon" 
  href="../static/images/favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="../static/js/JS_Encargado/ReportesCargarEncargado.js"></script>
  <script src="../static/js/JS_Encargado/PreVisEncardago.js"></script>
  <script src="../static/js/JS_Encargado/ConfigiarconVisualizarRegistro.js"></script>
  <script src="../static/js/JS_Encargado/ActivarComentario.js"></script>
  <script src="../static/js/JS_Encargado/RepDesarrollo.js"></script>
  <script src="../static/js/JS_Encargado/notificarmensaje.js"></script>
  <script src="../static/js/JS_Encargado/Filtroencargado.js"></script>
  <script src="../static/js/JS_Encargado/Contador.js"></script>
  
  <script src="../static/js/JS_Genericos/cerrarsesion.js"></script>
  <script src="../static/js/JS_Genericos/ImagenesDefecto.js"></script>
  <script src="../static/js/JS_Genericos/Dropdown.js"></script>
  <script src="../static/js/JS_Genericos/FechaActual.js"></script>
  <script src="../static/js/JS_Genericos/notifcacionesVisualizar.js"></script>

</head>

<body>
  <!-- Encabezado -->
  <header class="w3-container w3-center w3-padding"
  style="background-color: #C20E1A;
  position: sticky;
  top: 0;">

 <h1><b>Panel de Encargado</b></h1>

</header>

<!--Contenido-->
<div class="w3-row">

  <!-- Barra lateral fija -->
  <div class="w3-sidebar w3-bar-block w3-border"
  style = "width:9%;"
  id="miSitio">
  
  <a 
  onclick="document.getElementById('Filtrarrepoetencargado').style.display='block'"
  class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
  <img src="../static/images/IconoBuscar.png"
  alt = "Buscar"
  id="BuscarReporteEncargado"
  style="width: 70%;
  height:100%;"
  title="Buscar"> 

  </a> 
  
  <a onclick="document.getElementById('noticar').style.display='block'"
  class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
  <img src="../static/images/IconoNotificacion.png"
  alt = "Notificaciones"
  style="width: 70%;
  height: 100%"
  id="NotificaionesEncargado"
  title="Notificaciones">
  </a> 
 
  
  <a onclick="Mostrar()"
  class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity"
  id="BotoncitoCambiante">
  <img src="../static/images/IconoCrear.png"
  alt = "Tareas"
  style="width: 70%;
  height:100%;"
  id="iconocambiante"
  title="Ver reportes"> 
  </a>
  
  <a onclick="CerrarSesion()" 
  class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
  <img src="../static/images/IconoCerrarSesion.png"
  alt = "Cerrar sesión"
  style="width: 70%;
  height: 100%;"
  title="Cerrar sesion"> 

  </a>
  
</div>

<!--Espacio de la zona izquierda-->
  <div class="w3-col w3-container"
  style="width: 9%;">

</div>

<!--Datos principales-->
<div class="w3-col w3-container"
style="width: 88%;">

<!--Zona de tareas-->
<div class="w3-container w3-padding w3-margin-top " 
id="Datos">
    <h3 class="w3-center">Panel de Tareas</h3>
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-third w3-center">
        <div class="w3-card w3-padding w3-light-grey">
          <h4>Tareas Asignadas</h4>
          <p class="w3-xxlarge"
          id="totalTareas">0</p>
        </div>
      </div>
      <div class="w3-third w3-center">
        <div class="w3-card w3-padding w3-light-grey">
          <h4>Tareas en Progreso</h4>
          <p class="w3-xxlarge"
          id="tareasEnProgreso">0</p>
        </div>
      </div>
      <div class="w3-third w3-center">
        <div class="w3-card w3-padding w3-light-grey">
          <h4>Tareas Completadas</h4>
          <p class="w3-xxlarge"
          id="tareasCompletadas">0</p>
        </div>
      </div>
    </div>
  </div>

<!--PreVisaulizacion de los reportes-->
<div class=" w3-row-padding w3-center"
id="Reportes"
style="display: none;">
</div> 
</div>

<!--Margen derecha-->
<div class="w3-col w3-container"
style="width: 2%">

<div class=" red-margin-right"></div>

</div>
</div>

  <!-- Filtro -->
  <div class="w3-container w3-center">
           <div class="w3-modal" id="Filtrarrepoetencargado">

        <div class="w3-modal-content w3-card-4 w3-white">
            <header class="w3-container w3-center"
            style="background-color: #C20E1A;">

                <h2><b>Filtrar reportes en específico</b></h2>
            
                <button onclick="document.getElementById('Filtrarrepoetencargado').style.display='none'" 
                class="w3-button w3-xlarge w3-hover-red w3-display-topright" 
                title="Cerrar pestaña">&times;</button>
            </header>

            <form class="w3-container w3-padding-16" onsubmit="FiltrarRegistro(event)">
                <!-- Campos de filtro básicos -->
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s12">
                        <label for="NombreUsuario"><b>Buscar usuario</b>
                        </label>
                            <input id="NombreUsuaio" 
                        title="Buscar usuario"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Nombre de usuario a buscar reportes">
                    </div>
                </div>

                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-half">
                        <label for="buscarLugar">
                            <b>Buscar por lugar</b></label>
                        <input id="buscarLugar" 
                        title="Por zona"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Lugar a buscar">
                    </div>

                    <div class="w3-half">
                        <label for="buscarItem">
                        <b>Buscar por ítem</b></label>
                        <input id="buscarItem" 
                        title="Buscar por ítem"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Ítem a buscar">
                    </div>
                </div>

                <!-- Elementos varios -->
                <h2 class="w3-center-all w3-black-text">Elementos varios</h2>

                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-third">
                     <label for="Tiporeporte">
                        <b>Tipo de reporte</b></label>

                        <select id="Tiporeporte" 
                        class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Reparacion">Reparación</option>
                        </select>
                    </div>

                    <div class="w3-third">
                        <label for="ordenarRecienteAntiguo">
                        <b>Ordenar por antiguo o reciente</b></label>
                        <select id="ordenarRecienteAntiguo" class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="Antiguo">Más antiguo</option>
                            <option value="Reciente">Más reciente</option>
                        </select>
                    </div>

                    <div class="w3-third">
                        <label for="Estadoreporte">
                        <b>Estado del reporte</b></label>
                        <select id="Estadoreporte" 
                        class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="No verificado">No verificado</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                    </div>
                </div>
              <!-- Botones de acción -->
              <button title="Buscar"
              class="w3-button w3-red w3-margin-top w3-block" type="submit">
              Buscar</button>

              <button title="Restablecer"
              class="w3-button w3-gray w3-margin-top w3-small w3-right" type="button" 
              onclick="RestablecerFiltro()">Restablecer</button>
          </form>
      </div>
  </div>

<div class="w3-modal"
id="Modal"
style="display: none;">

<div class="w3-modal-content w3-animate-zoom w3-card-4">

</div>
</div>


<!--Notificaiones-->
<div class="w3-container  w3-center">

    <div class="w3-modal"
    id="noticar">
    
    <div class="w3-modal-content w3-card-4 ">
        
        <header class="w3-container w3-center"
        style="background-color: #C20E1A;">
            
            <h2> <b>Notificaciones</b></h2>

            <button 
onclick = "document.getElementById('noticar').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </button>
        </header>
        
        <div class="w3-modal-content">

        <div id="notificacion"
        class="w3-center"
        style="padding: 20px;">
        </div>
        </div>
    </div>
</div>
</div>


                <!--Zona de notificar-->
                <div class="w3-container  w3-center">

                    <div class="w3-modal"
                    id="notificar">
                    
                    <div class="w3-modal-content w3-card-4">
                        
                        <header class="w3-container w3-center"
                        style="background-color: #C20E1A;">
                            
                            <h1> <b>Notificaciones</b></h1>
                
                            <button 
                onclick = "document.getElementById('notificar').style.display='none'; limpiarmensaje()"
                class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
                title   = "Cerrar pestaña"> &times; </button>
                        </header>
                        
                        <div class="w3-row">
                            
                        <div id="NotificarAdmin"
                        class="w3-col s12"
                        style="padding: 20px;">
                        
                        <h3>Zona de notificar</h3>
                
                        <p>Escoge al admin que quieras mandarlo:</p>
                        <select id="VerAdmin" 
                                        class="w3-select w3-border">
                                            <option value="" selected disabled>Admin que se mandara el mensaje</option>
                                            
                                        </select>
                
                        <p>Escribe el mensaje que quieres mandar en el siguiente campo:</p>
                        
                        <textarea class="w3-input w3-border textarea"
                        id="MensajeAMandar"
                        placeholder="Escibe aqui el mensaje que quieras mandarle al admin"></textarea>
                                    <button class="w3-button w3-margin-top w3-red"
                                    onclick="MandarmensajeaAdmin(); limpiarmensaje()" >
                                    Mandar notificacion</button>
                
                                    <button class="w3-button w3-margin-top w3-red"
                                     onclick="limpiarmensaje()">
                                     Cancelar notificacion</button>
                               
                    </div>
                        </div>
                    </div>
                </div>
                </div>

</body>
</html>
