<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> SIRU </title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <a href="#Contenedores" 
class="sr-only sr-only-focusable">Saltar a la pagina principal</a>

    <link rel = "stylesheet"
     href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     
    <link rel="stylesheet"
    href="..\static\css\estilos.css">
    
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="icon"  
    href="../static/images/logo.png"
    size="32x32"
    type="image/png">

    <script src="../static/js/ActualizarTitulo.js"> </script>
    <script src="../static/js/Formulario.js"></script>
    <script src="../static/js/Abrir_cerrar.js"></script>
    <script src="../static/js/GuardarFormulario.js"></script>
    <script src="../static/js/cerrarsesion.js"></script>
    <script src="../static/js/Estado.js"></script>
    <script src="../static/js/VisualRegistro.js"></script>
    <script src="../static/js/Dropdown.js"></script>
    <script src="../static/js/BuscarReportes.js"></script>
    <script src="../static/js/EliminarRegistro.js"></script>
    <script src="../static/js/Restablecer.js"></script>
    <script src="../static/js/ImagenesDefecto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/Abrir_cerrar.js"></script>
    <script> document.addEventListener("DOMContentLoaded", Estado);</script>
  
</head>

<body>
    <!--menu desplebable-->
<div id="tooltip"
style = "display: none;
position: absolute;
background-color: #333;
color: #fff;
padding: 5px;
border-radius: 5px;
z-index: 1000;"></div>


<nav class="w3-sidebar w3-bar-block  w3-animate-right"
style = "display:none;z-index:2;width:40%;right:0;min-width:300px"
id="miSitio">

<a  onmouseover="showTooltip(event, 'Crear un registro')" 
onmouseout="hideTooltip()"
onclick="document.getElementById('forma').style.display='block'"
class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
<i class="fa fa-pencil-alt">
</i> </a>

<a onmouseover="showTooltip(event, 'Buscar un registro')" 
onmouseout="hideTooltip()" 
onclick="document.getElementById('buscar').style.display='block'"
class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
<i class="fa fa-search">
</i> </a> 

<a onmouseover="showTooltip(event, 'Cerrar Sesion')" 
onmouseout="hideTooltip()" 
onclick="CerrarSesion()" 
class="w3-bar-item w3-center w3-border-bottom w3-hover-red with w3-hover-opacity">
<i class="fa fa-sign-out-alt">
</i> </a>

</nav>
<script src="../static/js/Abrir_cerrar.js">
</script>


<!--encabezado-->
  <header class="w3-container w3-center w3-padding"
  style="background-color: #C20E1A;
  position: sticky;
  top: 0;">

  <button class="w3-button w3-section w3-right"
  title="Abrir y cerrar el menu desplebable"

  onclick="Abrir_cerrar()">☰</button>

 <h1><b>Bienvenidos al sistema SIRU </b></h1>


</header>


<!--relleno de la pagina-->
<div class=" w3-row-padding w3-center"
id="Contenedores">
</div> 

<div class="red-margin-left"></div>
<div class="red-margin-right"></div>

<!--Visualizar reportes-->
<div class="w3-modal"
id="Modal">
<div class="w3-modal-content">
 
</div>
</div>

<!--formulario-->
<div class="w3-container">

<div id="forma"
class="w3-modal">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width: 600px;
bottom: 10%;">

<header class="w3-container w3-center"
style="background-color: #C20E1A;">

<button 
onclick = "document.getElementById('forma').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </button>

<h2> <b> Registro sira </b></h2>
</header>

<form class="w3-container w3-row-padding"
onsubmit="return false">

<div class="w3-row">
<!--Lugar-->
    <div class="w3-col s6"
    style = "padding-right: 15px;">

<label for="Lugar" 
style="display: block; text-align: center;">
Zona a escoger</label>

<select id="Lugar"
class="w3-select w3-border w3-margin-bottom "
title="Opcion salon"
name="Opcion salon"
style = "width:100% ;" 
onchange="ActualizarItems(); ActualizarTitulo();" 
required>

<option value = "" disabled selected> Lugar </option>
<option value = "informatica1"> Sala de informatica1 </option>
<option value = "bañosH1"> Baños de hombres primer piso </option>
<option value = "bañosM1"> Baños de mujeres primer piso </option>
<option value = "informatica2"> Sala de informatica2 </option>
<option value = "salon1"> Salon 1 </option>
<option value = "biblioteca"> Biblioteca </option>
<option value = "salon2"> Salon 2 </option>
<option value = "informatica3"> Sala de informatica3 </option>
<option value = "salon3"> Salon 3 </option>
<option value = "bañosH2"> Baños de hombres segundo piso </option>
<option value = "bañosM2"> Baños de mujeres segundo piso </option>
<option value = "salon4"> Salon 4 </option>
<option value = "salon5"> Salon 5 </option>
<option value = "salon6"> Salon 6 </option>
<option value = "patio"> Patio </option>
</select>

<!--Item-->
<label for="Item"
style="display: block; text-align: center;">
Item de la zona</label>

<select id ="Item"
class="w3-select w3-border w3-margin-bottom"
name="items"
style = "width:100%;" 
title="Item"
onchange = "ActualizarTitulo();" 
disabled required>

<option value = "" disabled selected> Item </option>
</select>

<label for="Titulo"
style="display: block; text-align: center;">
Titulo del formulario</label>

<input id="Titulo"
class="w3-input w3-border w3-margin-bottom"
type="text" 
title="Titulo"
placeholder="Titulo" 
name="Titulo" 
style = "width:100%" 
readonly required>

<!--Descripcion-->
<label for="Descripcion"
style="display: block; text-align: center;">
 Descripcion del problema</label>
<textarea id = "Descripcion"
class="w3-input w3-border w3-margin-bottom"
type="text" 
placeholder="Descripcion" 
name="Descripcion" 
style = "width:100%;height: 150px;"
maxlength="400"
required>
</textarea>
</div>

<!--Estado-->
<div class="w3-col s6">
<label for="sugerencia"
style="display: block; text-align: center; display: block;">
 Estado </label>

<p>
<input class="w3-radio"
id="sugerencia"
title="Opcion de sugerencia"
type  = "radio"
name  = "Estado" 
value = "baja" 
checked> 
<label for="sugerencia">
     Sugerencia </label>
</p>

<p>
    <input class="w3-radio"
    title="Opcion de pedido"
    id="pedido"
    type  = "radio"
    name  = "Estado" 
    value = "media" > 
    <label for="pedido"> 
        Pedido </label>
    </p>

    <p>
        <input class="w3-radio"
        title="Opcion de arreglo"
        type  = "radio"
        id="arreglo"
        name  = "Estado" 
        value = "Alta" > 
        <label for="arreglo"> 

            Arreglo </label>
        </p>

        <!--Boton imagen-->
<label for="imagen"
class="w3-button w3-white w3-block w3-border"
title="Botons para subir imagen">   
    Subir imagen
        </label>

        <input id="imagen"
    type="file"
    style="display:none;"
    name="imagen"
    accept="image/*"
    onchange="previewImage(event)">

   <!--Vista previa--> 
<div id="imagenPreview"
style="display: flex;
       justify-content: center;
       align-items: center;">

<img id="preview"
scr=""
class = "w3-image"
style = "border: 1px solid #ccc;
         background-color: #eee;
">
</div>

<!--boton enviar-->
    <button
     class="w3-button w3-xlarge w3-red w3-border w3-margin-bottom  w3-block"
     type="submit"
     title="Boton para enviar el formulario"
     onclick="GuardarFormulario(event)">
     Enviar »
</button>


</div>
</div>

</form>

</div>
</div>
</div>



<!--buscar-->
<div class="w3-container  w3-center">

    <div class="w3-modal"
    id="buscar">
    
    <div class="w3-modal-content w3-card-4 w3-white">
        
        <header class="w3-container w3-center"
        style="background-color: #C20E1A;">
            <h2> <b>Buscar reporte en especifico</b></h2>

            <button 
onclick = "document.getElementById('buscar').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </button>

        </header>

        <form class="w3-container w3-padding-16"
        onsubmit="BuscarReportes(event)">
            
            <div class="w3-row-padding">
                <div class="w3-half">
                    <b>Buscar por zona</b>
                    <input id="buscarLugar"
                    title="Buscar por lugar" 
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Lugar a buscar">
                </div>

                <div class="w3-half">
                    <b>Buscar por item</b>
                    <input id="buscarItem" 
                    title="Buscar por items"
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Item a buscar">
                </div>
            </div>

            <h3 class="w3-center-all w3-black-text">Elementos varios</h3>

            <div class="w3-row-padding">
                <div class="w3-half w3-padding-small">
                    <b>Ordenar por antiguo o reciente</b>
                    <select id="ordenarRecienteAntiguo" 
                    class="w3-select w3-border"
                    title="Mas reciente o mas antiguo">
                        <option value="" selected> ---  </option>
                        <option value="Antiguo">Más antiguo</option>
                        <option value="Reciente">Mas reciente</option>
                    </select>
                </div>

                <div class="w3-half w3-padding-small">
                    <b>Estado del formulario</b>
                    <select id="Estado" 
                    class="w3-select w3-border"
                    title="Estado del formulario">
                        <option value="" selected> --- </option>
                        <option value="baja">Sugerencia</option>
                        <option value="media">Pedido</option>
                        <option value="Alta">Arreglo</option>
                    </select>
                </div>
                </div>

                <div class="w3-row-padding">
                    <div class="w3-half w3-padding-small">
                    <b>Desarrollo del formulario</b>
                    <select id="Desarrollo" 
                    class="w3-select w3-border"
                    title="Desarrollo del formulario">
                        <option value="" selected> --- </option>
                        <option value="No verificado">No verificado</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Terminado">Terminado</option>
                    </select>
                </div>

                <div class="w3-half w3-padding-small">
                    <b>Editado en la apartado de comentarios y encargado</b>
                    <select id="Reciente" 
                    title="Mas reciente en desarrollo"
                    class="w3-select w3-border">
                        <option value="" selected> --- </option>
                        <option value="Ninguna">Si no tiene ninguna</option>
                        <option value="Comentario"> Si tiene comentario </option>
                        <option value="Encargado">Si tiene encargado</option>
                        <option value="Ambas">Si tiene ambas</option>
                    </select>
                </div>
            </div>

            <button class="w3-button w3-red w3-margin-top w3-block"
            title="Buscar" 
            type="submit">Buscar</button>

            <button class="w3-button w3-gray w3-margin-top w3-small w3-right"
            type="button"
            title="Restablecer"
            onclick="RestablecerBuscar()">
            Restablecer</button>
        </form>
    </div>
</div>
</div>

<a href="#buscar" 
class="sr-only sr-only-focusable">Saltar al formulario de búsqueda</a>

<a href="#forma" 
class="sr-only sr-only-focusable">Saltar al formulario</a>


</body>
</html>