<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> SIRU </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <a href="#Contenedores" 
class="sr-only sr-only-focusable">Saltar a la pagina principal</a>

    <link rel = "stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     
    <link rel="stylesheet"
    href="..\static\css\estilos.css">  
    
    <script src="../static/js/ActualizarTitulo.js"> </script>
    <script src="../static/js/Formulario.js"></script>

    <script src="../static/js/GuardarFormulario.js"></script>
    <script src="../static/js/cerrarsesion.js"></script>
    <script src="../static/js/Estado.js"></script>
    <script src="../static/js/VisualRegistro.js"></script>
    <script src="../static/js/Dropdown.js"></script>
    <script src="../static/js/BuscarReportes.js"></script>
    <script src="../static/js/EliminarRegistro.js"></script>
    <script src="../static/js/Restablecer.js"></script>
    <script src="../static/js/GuiaUsuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</head>

<body>
    <!--menu desplebable-->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-right"
style = "display:none;z-index:2;width:40%;right:0;min-width:300px"
id="miSitio">

<a href="javascript:void(0)" 
onclick="w3_close()"
title="Cerrar el menu desplebable"
class="w3-bar-item w3-button w3-border-bottom w3-hover-red with w3-hover-opacity"> 
Cerrar el menu </a>

<a onclick="document.getElementById('forma').style.display='block'" 
title="Crear reporte"
class="w3-bar-item w3-button w3-border-bottom w3-hover-red with w3-hover-opacity">
Crear Reporte</a>

<a onclick="document.getElementById('buscar').style.display='block'"
title="Buscar registros" 
class="w3-bar-item w3-button w3-border-bottom w3-hover-red with w3-hover-opacity">
Buscar</a>

<a href="javascript:void(0)"
title="Guia de la aplicacion"           
onclick="GuiaUsuario()" 
class="w3-bar-item w3-button w3-border-bottom w3-hover-red with w3-hover-opacity">
Guia</a>

<a onclick="CerrarSesion()" 
title="Cerrar sesion"
class="w3-bar-item
w3-button w3-border-bottom w3-hover-red with w3-hover-opacity">
Cerrar sesion</a>

</nav>
<script src="../static/js/Abrir_cerrar.js">
</script>

<!--encabezado-->
  <header class="w3-container w3-center w3-padding"
  style="background-color: #C20E1A;"
  onload="MostrarNombre()">

  <button class="w3-button w3-section w3-right"
  title="Menu desplebable"
  onclick="w3_open()">☰</button>

 <h1><b>Bienvenidos al sistema SIRU </b></h1>
</header>

<!--relleno de la pagina-->
<div class=" w3-row-padding w3-center"
id="Contenedores">
</div>

<!--Visualizar reportes-->
<div class="w3-modal"
id="Modal"
style="display: none;">
<div class="w3-modal-content w3-card-4"
style="padding: 16px;">
 
</div>
</div>

<!--formulario-->
<div class="w3-container">

<div id="forma"
class="w3-modal">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width: 600px;">

<header class="w3-container w3-center"
style="background-color: #C20E1A;">

<span 
onclick = "document.getElementById('forma').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </span>

<h2> <b> Registro sira </b></h2>
</header>

<form
class="w3-container w3-row-padding"
onsubmit="return false">

<div class="w3-half">
    <label for="Lugar">Zona a escoger</label>
<select id="Lugar"
class="w3-select w3-border w3-margin-bottom "
title="Opcion salon"
name="Opcion salon"
style = "width:100% ;" 
onchange="ActualizarItems(); ActualizarTitulo();" required>

<option value = "" disabled selected> Lugar </option>
<option value = "informatica1"> Sala de informatica1 </option>
<option value = "bañosH1"> Baños de hombres primer piso </option>
<option value = "bañosM1"> Baños de mujeres primer piso </option>
<option value = "informatica2"> Sala de informatica2 </option>
<option value = "salon1"> Salon 1 </option>
<option value = "biblioteca"> Biblioteca </option>
<option value = "salon2"> Salon 2 </option>
<option value = "informatica3"> Sala de informatica3 </option>
<option value = "salon3"> Salon 3 </option>
<option value = "bañosH2"> Baños de hombres segundo piso </option>
<option value = "bañosM2"> Baños de mujeres segundo piso </option>
<option value = "salon4"> Salon 4 </option>
<option value = "salon5"> Salon 5 </option>
<option value = "salon6"> Salon 6 </option>
<option value = "patio"> Patio </option>
></select>

<label for="Item">Item de la zona</label>
<select id ="Item"
class="w3-select w3-border w3-margin-bottom"
name="items"
style = "width:100%;" 
title="Item"
onchange = "ActualizarTitulo();" disabled
required>

<option value = "" disabled selected> Item </option>
></select>
</div>

<div class="w3-half w3-border-bottom">
<label for="sugerencia"> Estado </label>
<p>
<input class="w3-radio"
id="sugerencia"
title="Opcion de sugerencia"
type  = "radio"
name  = "Estado" 
value = "baja" 
checked> 
<label for="sugerencia">
     Sugerencia </label>
</p>

<p>
    <input class="w3-radio"
    title="Opcion de pedido"
    id="pedido"
    type  = "radio"
    name  = "Estado" 
    value = "media" > 
    <label for="pedido"> 
        Pedido </label>
    </p>

    <p>
        <input class="w3-radio"
        title="Opcion de arreglo"
        type  = "radio"
        id="arreglo"
        name  = "Estado" 
        value = "Alta" > 
        <label for="arreglo"> 

            Arreglo </label>
        </p>
</div>

<div class="w3-row w3-col s12">
    <label for="Titulo">Titulo del formulario</label>
<input 
id="Titulo"
class="w3-input w3-border w3-margin-bottom"
type="text" 
title="Titulo"
placeholder="Titulo" 
name="Titulo" 
style = "width:50%" 
readonly
required
></div>


<div class="w3-row">
<div class="w3-col s6">
    <label for="Descripcion">Descripcion del problema</label>
    <textarea 
    id = "Descripcion"
    class="w3-input w3-border w3-margin-bottom"
    type="text" 
    placeholder="Descripcion" 
    name="Descripcion" 
    style = "width:100%;height: 150px;"
   maxlength="400"
   required
    ></textarea>
</div>

<div class="w3-center w3-col s6"
style="padding-left: 20px">

<label for="imagen"
class="w3-button w3-white w3-border w3-margin-bottom"
title="Boton para subir imagen">   
    Subir imagen
        </label>

    <input
    id="imagen"
    type="file"
    style="display:none;"
    name="imagen"
    accept="image/*">
</div>

<div class="w3-center w3-col s6"
style="padding-left: 20px">

    <button
     class="w3-button w3-xlarge w3-white w3-border w3-margin-bottom"
     type="submit"
     title="Boton para enviar el formulario"
     onclick="GuardarFormulario(event)">
     Enviar »
</button>

</div>
</div>
</form>

</div>
</div>
</div>

<script src="../static/js/Abrir_cerrar.js"></script>
<script>
document.addEventListener("DOMContentLoaded", Estado);
</script>

<!--buscar-->
<div class="w3-container  w3-center">

    <div class="w3-modal"
    id="buscar">
    
    <div class="w3-modal-content w3-card-4 w3-white">
        
        <header class="w3-container w3-center"
        style="background-color: #C20E1A;">
            <h2> <b>Buscar reporte en especifico</b></h2>

            <span 
onclick = "document.getElementById('buscar').style.display='none'"
class   = "w3-button w3-xlarge w3-hover-red w3-display-topright"
title   = "Cerrar pestaña"> &times; </span>

        </header>

        <form class="w3-container w3-padding-16"
        onsubmit="BuscarReportes(event)">
            
            <div class="w3-row-padding">
                <div class="w3-half">
                    <b>Buscar por zona</b>
                    <input id="buscarLugar"
                    title="Buscar por lugar" 
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Lugar a buscar">
                </div>

                <div class="w3-half">
                    <b>Buscar por item</b>
                    <input id="buscarItem" 
                    title="Buscar por items"
                    class="w3-input w3-border" 
                    type="text" 
                    placeholder="Item a buscar">
                </div>
            </div>

            <h3 class="w3-center-all w3-black-text">Elementos varios</h3>

            <div class="w3-row-padding">
                <div class="w3-half w3-padding-small">
                    <b>Ordenar por antiguo o reciente</b>
                    <select id="ordenarRecienteAntiguo" 
                    class="w3-select w3-border"
                    title="Mas reciente o mas antiguo">
                        <option value="" selected> ---  </option>
                        <option value="Antiguo">Más antiguo</option>
                        <option value="Reciente">Mas reciente</option>
                    </select>
                </div>

                <div class="w3-half w3-padding-small">
                    <b>Estado del formulario</b>
                    <select id="Estado" 
                    class="w3-select w3-border"
                    title="Estado del formulario">
                        <option value="" selected> --- </option>
                        <option value="baja">Sugerencia</option>
                        <option value="media">Pedido</option>
                        <option value="Alta">Arreglo</option>
                    </select>
                </div>
                </div>

                <div class="w3-row-padding">
                    <div class="w3-half w3-padding-small">
                    <b>Desarrollo del formulario</b>
                    <select id="Desarrollo" 
                    class="w3-select w3-border"
                    title="Desarrollo del formulario">
                        <option value="" selected> --- </option>
                        <option value="No verificado">No verificado</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Terminado">Terminado</option>
                    </select>
                </div>

                <div class="w3-half w3-padding-small">
                    <b>Editado en la apartado de comentarios y encargado</b>
                    <select id="Reciente" 
                    title="Mas reciente en desarrollo"
                    class="w3-select w3-border">
                        <option value="" selected> --- </option>
                        <option value="Ninguna">Si no tiene ninguna</option>
                        <option value="Comentario"> Si tiene comentario </option>
                        <option value="Encargado">Si tiene encargado</option>
                        <option value="Ambas">Si tiene ambas</option>
                    </select>
                </div>
            </div>

            <button class="w3-button w3-red w3-margin-top w3-block"
            title="Buscar" 
            type="submit">Buscar</button>

            <button class="w3-button w3-gray w3-margin-top w3-small w3-right"
            type="button"
            title="Restablecer"
            onclick="RestablecerBuscar()">
            Restablecer</button>
        </form>
    </div>
</div>
</div>


<!--Guia-->
<div id="pdf"
class="w3-modal"
style="display: none;">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width:80%;">

<header class="w3-container w3-center"
style="background-color: #C20E1A;">
<span onclick="document.getElementById('pdf').style.display='none'"
class="w3-button w3-xlarge w3-hover-red w3-display-topright"
title="Cerrar pestaña">
&times;
</span>
<h2><b> Guia de la aplicacion </b></h2>
</header>

<div class="w3-container w3-center">

    <div class="w3-content w3-display-container"
style="max-width: 800px;">

<img class="mySlides" 
src="../static/images/GuiaUsu1.png"
alt="Una breve descripcion corta de la intrefas del aplicativo" 
style="width:100%">

<img class="mySlides" 
src="../static/images/GuiaUsu2.png" 
alt="Parte 2 de la guia"
style="width:100%">

<img class="mySlides" 
src="../static/images/GuiaUsu3.png" 
alt="Parte 3 de la guia"
style="width:100%">

<button class="w3-button w3-display-left w3-red" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-red" onclick="plusDivs(1)">&#10095;</button>

</div> 
</div>
</div>
</div>

<a href="#pdf" 
class="sr-only sr-only-focusable">Saltar a la guia</a>


<a href="#buscar" 
class="sr-only sr-only-focusable">Saltar al formulario de búsqueda</a>

<a href="#forma" 
class="sr-only sr-only-focusable">Saltar al formulario</a>


</body>
</html>