<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIRU - Reportes de Daños</title>

    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="#Muchos" 
    class="sr-only sr-only-focusable">Saltar a la pagina principal</a>

    <link rel="stylesheet" 
    href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    
    <link rel="stylesheet"
    href="..\static\css\estilosAD.css">

    
    <script src="../static/js/JS_Admin/CrearCodigo.js"> </script>
    <script src="../static/js/JS_Admin/CargarRegistros.js"></script>
    <script src="../static/js/JS_Admin/ConfiDeRegistros.js"></script>
    <script src="../static/js/JS_Admin/ActualizarReporte.js"></script>
    <script src="../static/js/JS_Admin/CargarUsuarios.js"></script>
    <script src="../static/js/JS_Admin/ConfirmarDesacActivacion.js"></script>
    <script src="../static/js/JS_Admin/CancelarYGuardar.js"></script>
    <script src="../static/js/JS_Admin/EditarUsuario.js"></script>
    <script src="../static/js/JS_Admin/FiltrarRegistro.js"></script>
    <script src="../static/js/JS_Admin/CambiarEstado.js"></script>
    <script src="../static/js/JS_Admin/BuscarUsuario.js"></script>
    <script src="../static/js/JS_Admin/PreVisualizacion.js"></script>
    <script src="../static/js/JS_Admin/VisUsuarios.js"></script>

    <script src="../static/js/JS_Genericos/EliminarRegistro.js"></script>
    <script src="../static/js/JS_Genericos/Restablecer.js"></script>
    <script src="../static/js/JS_Genericos/ImagenesDefecto.js"></script>
    <script src="../static/js/JS_Genericos/Dropdown.js"></script>
    <script src="../static/js/JS_Genericos/cerrarsesion.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", CargarRegistros); // Cargar registros al cargar la página
        </script>
       
        
        


</head>

<!--Encabezado-->
<body>
    <header class="w3-container w3-center w3-padding-32" 
    style="background-color: #C20E1A;"> 
        <h1><b>SIRU - Reportes de Daños</b></h1>
    </header>

<!-- Elementos de pagina -->
    <div class="w3-row">

        <!--Parte izquierda-->
        <div class="w3-container w3-col l4">
        <div class= "w3-container w3-white w3-card w3-border w3-margin-top">
                   <h4><b>Bienvenido -Admin-</b></h4>
                    <p>¿Que opcion quieres hacer?:</p>
                   
                    <button class="w3-button w3-center w3-red w3-hover-opacity w3-section w3-block"
                   onclick="Dropdown('opciones')"
                   title="Opciones">
                Opciones
            </button>
                   
                   <div class="w3-container"
                   id="opciones"
                   style="display: none;">

                    <button 
                    onclick="document.getElementById('Filtrar').style.display='block'" 
                    class="w3-button w3-center w3-red w3-hover-pink w3-section w3-block"
                    title="Filtrar registro">
                    Filtrar Registro</button>

                    <button 
                    onclick="AbrirModal()"
                    class="w3-button w3-red w3-hover-pink w3-section w3-block"
                    title="Administrar usuario">
                    Administrar usuarios</button>
                    
                    <button 
                    onclick=""
                    class="w3-button w3-red w3-hover-pink w3-section w3-block"
                    title="Datos Estadisticos">
                    Datos Estadisticos</button>

                    <button 
                    onclick=""
                    class="w3-button w3-red w3-hover-pink w3-section w3-block"
                    title="Notificaciones">
                    Notificaciones</button>

                    <button 
                    onclick=""
                    class="w3-button w3-red w3-hover-pink w3-section w3-block"
                    title="Administracion de zonas">
                    Zonas e items</button>

                    <button 
                    onclick="CerrarSesion()" 
                    class="w3-button w3-red w3-hover-grey w3-section w3-block"
                    title="Cerrar sesion">
                    Cerrar sesion</button>
                </div>
            </div>
        </div>
        
        <!-- Zona  derecha -->
        <div class="w3-col l8 "
        id="Muchos">
            
            </div>
            <hr>
        </div>

    </div>
    <!-- END Grid -->


    <!-- Pie de pagina -->
    <footer class="w3-container w3-padding-32 w3-margin-top"
     style="background-color: #841F1C;">
        <p><b>Un buen trabajo para una buena revision </b> 
        <!-- <a href=""
             class="estilos" 
             target="_blank"><b>Cerrar sesion</b></a></p></b> -->
    </footer>

<!--Mostrar modales-->
<div class="w3-modal"
id="Modal"
style="display: none;">

<div class="w3-modal-content w3-animate-zoom w3-card-4">

</div>
</div>

<!--Administracion-->
<div class="w3-modal"
id="administrar">

<div class="w3-modal-content w3-card-4 w3-animate-zoom"
style="max-width:800px;
bottom: 10%;">

<header class="w3-container"
style="background-color: #C20E1A;">

<button onclick="document.getElementById('administrar').style.display='none'"
class="w3-button w3-display-toprigth"
title="Cerrar pestaña">&times;
</button>
<h3><b>Administracion de usuarios</b></h3>
</header>

<div class="w3-container">

<div class="w3-row w3-padding-16">
<div class="w3-col m8">
    <input class="w3-inpu"
    type="text"
    id="BarraBuscar"
    placeholder="Buscar por codigo o nombre">
</div>

<div class="w3-col m4">
<button class="w3-button w3-gray w3-block" 
onclick="BuscarUsuario()">
Buscar
</button>

</div>
</div>


<div class="w3-bar w3-light-grey">

<button class="w3-bar-item w3-button"
title="Usuario"
onclick="CargarUsuarios('Usuario')">
Usuarios
</button>

<button class="w3-bar-item w3-button"
title="Admin"
onclick="CargarUsuarios('Admin')">
Admin
</button>

<button class="w3-bar-item w3-button"
title="Todos"
onclick="CargarUsuarios('todos')">
Todos
</button>
</div>

<div id="Tabla"
class="w3-container w3-padding-16">
</div>
</div>

<footer class="w3-container w3-light-grey">
<button class="w3-button w3-red w3-block w3-section"
title="Guardar cambios"
onclick="GuardarCambios()">
Guardar</button>

<button class="w3-block w3-button w3-red"
title="Cancelar"
onclick="cancelar()">
Cancelar</button>

</footer>
</div>
</div>

<!-- Filtro -->
<div class="w3-container w3-center">
    <div class="w3-modal" id="Filtrar">
        <div class="w3-modal-content w3-card-4 w3-white">
            <header class="w3-container w3-center"
            style="background-color: #C20E1A;">
                <h3><b>Filtrar reportes en específico</b></h3>
                <button onclick="document.getElementById('Filtrar').style.display='none'" 
                class="w3-button w3-xlarge w3-hover-red w3-display-topright" 
                title="Cerrar pestaña">&times;</button>
            </header>

            <form class="w3-container w3-padding-16" onsubmit="FiltrarRegistro(event)">
                <!-- Campos de filtro básicos -->
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s12">
                        <label for="CodigoNombre"><b>Buscar usuario o por código</b>
                        </label>
                            <input id="CodigoNombre" 
                        title="Buscar usuario o codigo"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Código o usuario a buscar">
                    </div>
                </div>

                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-half">
                        <label for="buscarLugar">
                            <b>Buscar por lugar</b></label>
                        <input id="buscarLugar" 
                        title="Por zona"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Lugar a buscar">
                    </div>

                    <div class="w3-half">
                        <label for="buscarItem">
                        <b>Buscar por item</b></label>
                        <input id="buscarItem" 
                        title="Buscar por item"
                        class="w3-input w3-border" 
                        type="text" 
                        placeholder="Item a buscar">
                    </div>
                </div>

                <!-- Elementos varios -->
                <h2 class="w3-center-all w3-black-text">Elementos varios</h2>

                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-third">
                     <label for="Estado">
                        <b>Tipo del formulario</b></label>

                        <select id="Estado" class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Reparacion">Reparacion</option>
                        </select>
                    </div>

                    <div class="w3-third">
                        <label for="ordenarRecienteAntiguo">
                        <b>Ordenar por antiguo o reciente</b></label>
                        <select id="ordenarRecienteAntiguo" class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="Antiguo">Más antiguo</option>
                            <option value="Reciente">Más reciente</option>
                        </select>
                    </div>

                    <div class="w3-third">
                        <label for="Desarrollo">
                        <b>Desarrollo del formulario</b></label>
                        <select id="Desarrollo" class="w3-select w3-border">
                            <option value="" selected>---</option>
                            <option value="No verificado">No verificado</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                    </div>
                </div>

                <!-- Opciones avanzadas -->
                <h2 class="w3-center-all w3-black-text">Opciones avanzadas</h2>

                <div class="w3-section w3-center-all">
                    <div class="w3-container w3-border w3-margin-bottom w3-padding-small">
                        <div class="w3-row">
                            <div class="w3-col s9">
                                <p>Que aparescan seguido por títulos iguales</p>
                            </div>

                            <div class="w3-col s3">
                                <label for="desactivado1"
                                class="w3-right">
                                    <input id="desactivado1"
                                    class="w3-radio" 
                                    type="radio" 
                                    title="Desactivado"
                                    name="titulos"
                                     value="desactivado" 
                                     checked> Desactivado
                                </label>

                                <label for="activado1" 
                                class="w3-right w3-margin-right">
                                    <input id="activado1" 
                                    class="w3-radio" 
                                    type="radio"
                                    title="Activado" 
                                    name="titulos" 
                                    value="activado"> Activar
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="w3-container w3-border w3-margin-bottom w3-padding-small">
                        <div class="w3-row">
                            <div class="w3-col s9">
                                <p>Que no aparezcan los que ya fueron resueltos</p>
                            </div>
                            <div class="w3-col s3">
                                <label for="desactivado2"
                                class="w3-right">
                                    <input id="desactivado2" 
                                    class="w3-radio" 
                                    type="radio"
                                    title="Desactivado" 
                                     name="resueltos" 
                                     value="desactivado" 
                                     checked> 
                                     Desactivado
                                </label>
                                
                                <label for="activado2"
                                 class="w3-right w3-margin-right">
                                    <input id="activado2" 
                                    class="w3-radio"
                                     type="radio"
                                     title="Activado"  
                                     name="resueltos" 
                                     value="activado"> Activar
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="w3-container w3-border w3-margin-bottom w3-padding-small">
                        <div class="w3-row">
                            <div class="w3-col s9">
                                <p>Que no aparezcan los que no tienen imagen</p>
                            </div>
                            <div class="w3-col s3">

                                <label  for="desactivado3"
                                class="w3-right">
                                    <input id="desactivado3" 
                                    class="w3-radio" 
                                    type="radio" 
                                    name="sin_imagen" 
                                    value="desactivado" 
                                    title="Desactivado" 
                                    checked> 
                                    Desactivado
                                </label>

                                <label for="activado3"
                                 class="w3-right w3-margin-right">
                                    <input id="activado3" 
                                    class="w3-radio" 
                                    type="radio"
                                    title="Activado" 
                                     name="sin_imagen" 
                                     value="activado"> Activar</label>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones de acción -->
                <button title="Buscar"
                class="w3-button w3-red w3-margin-top w3-block" type="submit">Buscar</button>

                <button title="Restablecer"
                class="w3-button w3-gray w3-margin-top w3-small w3-right" type="button" 
                onclick="RestablecerFiltro()">Restablecer</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>
